#name{
    text-align: center;
    text-transform: capitalize;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:80px }

#searchDiv{
    text-align: center;
    background-color: blueviolet;
    height: 40px;
    width: 100%;
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
}

#searchDiv *{
margin-top: 10px;
border-radius: 4px;
border: none;
}

#display{
    background-color: aquamarine;
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
    gap: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#details{
    background-color: pink;
    height: 300px;
    width: 45%;
    margin: 20px 0px 20px 0px;
    color: black;
}

#map{
background-color: pink;
width: 45%;
height: 300px;
margin: 20px 0px 20px 0px;
}

#future{
    display: flex;
    justify-content: space-evenly;
}
#future div p{
display: block;
}